$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/*// bower:scss
// endbower*/

@mixin transition-all($m:all, $t:300ms) {
  -webkit-transition: $m $t cubic-bezier(0.475, 0.185, 0, 0.995);
  -moz-transition: $m $t cubic-bezier(0.475, 0.185, 0, 0.995);
  -o-transition: $m $t cubic-bezier(0.475, 0.185, 0, 0.995);
  transition: $m $t cubic-bezier(0.475, 0.185, 0, 0.995);
}

html {
  font-size: 10px !important;
  /* We have Fira Sans as default font in real device. But it isn't default in
   * browser. That's the main reason this line is here.*/
  font-family: "Fira Sans";
}


html, body{
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  top:0;
  left:0;
  background-color: #0a0a0a;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

div{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* Space out content a bit */
body {
  font-family: 'Fira Sans', sans-serif !important;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #989898;
  /*opacity: 0;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  position: absolute;
  width: 100%;
  padding-left: 40px!important;

  #text-1{
    position: absolute;
    top: 40px;
  };

  #text-2{
    opacity: 0;
    position: absolute;
    top: 40px;
  };
}

/* TV Screen */
#tv {
  width: 1920px;
  height: 1080px;
  background: url("../images/wallpaper_tv.jpg") center center no-repeat;
  background-size: cover;
  margin: auto;
  position: relative;
  /*border: 2px #989898 solid;*/
  overflow: hidden;
}

/* Navigation */

.navbutton{
  background: rgba(0,0,0,.5);
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 30px 10px;

  &#search{
    margin-left: 30px;
    background-image: none, url('../images/search-white.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    &.navbutton.selected{
      background-image: none, url('../images/search.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/search-white.svg');
      }
    }
  }

  &#setting{
    background-image: none, url('../images/setting-white.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    &.navbutton.selected{
      background-image: none, url('../images/setting.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/setting-white.svg');
      }
    }
  }

  &#folder{
    background-image: none, url('../images/addfolder-white.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    &.navbutton.selected{
      background-image: none, url('../images/addfolder.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/addfolder-white.svg');
      }
    }
  }
}

.hint{
  position: absolute;
  font-family: 'fira_sansthin';
  position: absolute;
  display: block;
  bottom: 55px;
  width: 480px;
  height: 90px;
  /*background-color: rgba(0,0,0,.8);*/
  border-radius: 80px;
  opacity: 0;

  right: 70px;
  z-index: 10;

  & p{
    color: #FFF;
    font-family: 'fira_sansthin_italic';
    font-size: 20pt;
    margin: 27px 0 0 40px;
  }
}

.hint1{
  position: absolute;
  opacity: 0;
}
.hint2{
  position: absolute;
  opacity: 1;
  right: 200px;
  bottom: -36px;
}
.hint3{
  position: absolute;
  opacity: 0;
  right: 200px;
  bottom: -36px;
}
.hintImg{
  position: absolute;
  bottom: -55px;
  right:-70px;
  width:255px;
  height:247px;
  background-image: url('../images/option.png');
  opacity: 1;
}

#filter{
  position: absolute;
  background: rgba(0,0,0,.5);
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  bottom: 55px;
  left: 30px;
  z-index: 10;

  & .filtericon01{
    position: absolute;
    background-image: url('../images/all.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    z-index: 100;
    width: 90px;
    height: 90px;
    display: block;
  }
  & .filtericon02{
    position: absolute;
    background-image: url('../images/tv.svg');
    background-position: 50% -235%;
    background-repeat: no-repeat;
    background-size: 75%;
    z-index: 100;
    width: 90px;
    height: 90px;
    display: block;
  }

}

#filter.selected .filtericon01{
  background-image: url('../images/all-dark.svg');

  &.important-tv{
   background-image: url('../images/tv-dark.svg') !important;
  }
  &.important-app{
   background-image: url('../images/app-dark.svg') !important;
  }
  &.important-device{
   background-image: url('../images/device-dark.svg') !important;
  }
  &.important-all{
   background-image: url('../images/all-dark.svg') !important;
  }
  &.important-web{
   background-image: url('../images/web-dark.svg') !important;
  }
}

#filter.selected .filtericon02{
  background-image: url('../images/tv-dark.svg');

  &.important-tv{
   background-image: url('../images/tv-dark.svg') !important;
  }
  &.important-app{
   background-image: url('../images/app-dark.svg') !important;
  }
  &.important-device{
   background-image: url('../images/device-dark.svg') !important;
  }
  &.important-all{
   background-image: url('../images/all-dark.svg') !important;
  }
  &.important-web{
   background-image: url('../images/web-dark.svg') !important;
  }
}




.filter-section{
  position: absolute;
  display: block;
  bottom: 55px;
  left: 30px;
  width: 90px;
  opacity: 0;
  height: 90px;
  background-color: rgba(0,0,0,.8);
  border-radius: 80px;
  overflow: hidden;

  & ul{
    list-style: none;
    margin: 28px 30px 30px 30px;
    position: absolute;
    width: 820px;
    height: 56px;
  }

  & li{
    display: inline;
    font-size: 20pt;
    color: #CCC;
    font-family: 'fira_sansitalic';
    margin: 0 0 0 50px;
    position: absolute;
    text-align: center;
    text-indent: 10px;
    @include transition-all(color,300ms);

    &.active{
      color: #5eabd9 !important;
      @include transition-all(color, 300ms);
    }
  }

  & li:first-child{
    margin-left: 60px;
  }
}

#app{
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;
  /*overflow: hidden;*/

}

.appbutton{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /*border: 2px #989898 solid;*/
  /*margin: 30px 30px;*/
  /*@include transition-all("margin-left", 300ms);*/
  opacity: 0;
  overflow: hidden;
  z-index: 0;
  

  & p{
    color: #FFF;
    font-size: 25px !important;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 50px !important;
    text-align: center;
    font-family: 'fira_sansitalic';
    z-index: 100;
  }
}

.appbutton[data-type="folder"]{
  overflow: visible !important;
}

.appbutton-folder{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -250px;
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  /*border: 2px #989898 solid;*/
  /*margin: 30px 30px;*/
  /*@include transition-all("margin-left", 300ms);*/
  /*opacity: 0;*/
  overflow: hidden;
  /*margin-left: 0 !important;*/
  /*transform: translateY(0) !important;*/
  opacity: 0;
  /*-moz-transition: transform 200ms ease-in-out;*/

  & p{
    color: #FFF;
    font-size: 16px !important;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 20px !important;
    text-align: center;
    font-family: 'fira_sansitalic';
    z-index: 100;
  }
}

/* -- icons -- */

.icon01{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background-image: none, url('../images/tv.svg');
  background-position: 50% 3%;
  background-repeat: no-repeat;
  background-size:90%;
  -webkit-perspective: 1000;
}
.icon02{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background-image: none, url('../images/app.svg');
  background-position: 50% 3%;
  background-repeat: no-repeat;
  background-size:90%;
  -webkit-perspective: 1000;
}
.icon03{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background-image: none, url('../images/device.svg');
  background-position: 50% 3%;
  background-repeat: no-repeat;
  background-size:90%;
  -webkit-perspective: 1000;
}

.icon_folder{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background-image: none, url('../images/folder-white.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:40%;
  -webkit-perspective: 1000;
  opacity: 0.6;
}

#app04{
  background-image: none, url('../images/browser_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgba(0,0,0,0) !important;
}
#app08{
  background-image: none, url('../images/video_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}
#app09{
  background-image: none, url('../images/gallery_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}

#app10{
  background-image: none, url('../images/web1.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(0,0,0);
}

#app11{
  background-image: none, url('../images/web2.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(0,0,0);
}



#app07{
  background-image: none, url('../images/hdmi_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}
#app05{
  background-image: none, url('../images/hbo_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}

#app06{
  background-image: none, url('../images/national_284.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}


#option{
  width: 100%;
  height: 100%;
  top: 17%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  /*display: none;*/

}
#delete{
  width: 100%;
  height: 100%;
  top: 17%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  /*display: none;*/

}

.message{
  font-family: 'fira_sansthin';
  color: #FFF;
  font-size: 36px;
  line-height: 2;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  text-align: center;
  font-family: 'fira_sansthin_italic';
  opacity: 0;
}

#confirm{
  color: #FFF;
  background-color: red;
}

#delete .optbutton{
  margin-top: 420px !important;

  & p{
    bottom: 43% !important;
  }
}

#close{
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 500px;
  height: 30px;
  width: 30px;
  background-image: none, url('../images/close.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
}

#keyboard{
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -50%;
  background-image: none, url('../images/keyboard.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: 4000;
}

.appbutton-folder[data-type="folder-card"] p{
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}
.appbutton-folder[data-type="folder-card"].focus p{
  font-size: 25pt !important;
  bottom: 50px !important;
  /*transform: translate3d(0,-30px,0) !important;*/
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

.optbutton{
  background-color: rgb(96,96,96);
  display: inline-block;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: 30px 20px;
  margin-top: 346px;
  opacity: 0;
  z-index: -1;
  p{
    color: #FFF;
    font-size: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 55px;
    text-align: center;
    font-family: 'fira_sansitalic';
    /*@include transition-all(all, 400ms);*/
  }
  &.pressed{
    & p{
      color: #FFF;
    }
  }

  &#rearrange{
    margin-left: 30px;
    background-image: none, url('../images/move-white.svg');
    background-position: 50% 35%;
    background-size: 60%;
    background-repeat: no-repeat;
    &.optbutton.selectedOption{
      background-image: none, url('../images/move.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/move-white.svg');
      }
    }
  }

  &#rename{
    margin-left: 30px;
    background-image: none, url('../images/rename-white.svg');
    background-position: 50% 35%;
    background-size: 60%;
    background-repeat: no-repeat;
    &.optbutton.selectedOption{
      background-image: none, url('../images/rename.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/rename-white.svg');
      }
    }
  }

  &#remove{
    background-image: none, url('../images/delete-white.svg');
    background-position: 50% 25%;
    background-size: 70%;
    background-repeat: no-repeat;
    &.optbutton.selectedOption{
      background-image: none, url('../images/delete.svg');
      &.pressed{
        background-color: #5eabd9;
        background-image: none, url('../images/delete-white.svg');
      }
    }
  }
}

.selectedOption p{
  color: #2d2d2d;
  /*@include transition-all(all, 400ms);*/
}

.transition{
  position: absolute;
  background: #000;
  opacity: 0;
  z-index: 50;
  height: 100%;
  width: 100%;
  text-align: center;
}

#dummy{
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  opacity: 0;

  p{
    text-align: center;
    color: #FFF;
    font-size: 40pt;
    margin: auto;
    top: 48%;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
  }
}

.dummycontent{
  width: 100%; 
  height: 100%;
  position: absolute;
  top:0;
  background-image: url('../images/tv-dummy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

#black{
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}

.next{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: none, url('../images/ic_arrownext.png');
  background-position: 50% 35%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 48.6%;
  left: 520px;
  z-index: 4000;
  opacity: 0;
}

.prev{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: none, url('../images/ic_arrowprev.png');
  background-position: 50% 35%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 48.6%;
  left: 230px;
  z-index: 4000;
  opacity: 0;
}

.wave01a{
  position: absolute;
  top: -140px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_pink_01.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.wave01b{
  position: absolute;
  top: -160px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_pink_02.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-100px,0);
  z-index: -1;
}

.wave02a{
  position: absolute;
  top: -140px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_green_01.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.wave02b{
  position: absolute;
  top: -160px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_green_02.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-100px,0);
  z-index: -1;
}

.wave03a{
  position: absolute;
  top: -140px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_blue_01.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.wave03b{
  position: absolute;
  top: -160px;
  display: block;
  height: 200%;
  width: 400%;
  background-image: none, url('../images/wave_blue_02.png');
  background-position: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-100px,0);
  z-index: -1;
}

/*.cardselected{
  border: 6px #FFF solid !important;
  @include transition-all();
}*/

#addfolder{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  bottom: 0;
  margin:auto;
  background-color: rgba(0,0,0,0);
  z-index: 10000;
  opacity: 0;


  &-name{
    display: block;
    position: absolute;
    /*background-color: #FFF;*/
    width: 540px;
    height: 80px;
    border-bottom: 2px #FFF solid;
    margin: 100px 100px 100px 70px;

    p{
      font-size: 28pt;
      color: #fff;
      display: inline-block;
      padding: 5px 15px;
      margin: 15px;
    }
  }

  &-done{
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    width: 140px;
    height: 70px;
    border-radius: 60px;
    margin: 80px 70px 100px 100px;
    right: 0;
    top: -50px;
    /*border-bottom: 6px #FFF solid;*/

    p{
      font-size: 18pt;
      font-family: 'fira_sansitalic';
      /*padding: 24px;*/
      text-align: center;
      color: #FFF;
      margin: 20.1px;
      &.inactive{
        color: #aaa;
      }
      &.pressed{
        color: #FFF;
      }
    }
  }

  &-number{
    position: absolute;
    font-family: 'fira_sansthin_italic';
    text-align: center;
    font-size: 30pt;
    color: #FFF;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;

    &--selected{
      font-size: 40pt;
      font-family: 'fira_sansitalic';
    }
    &--total{
      font-size: 40pt;
      font-family: 'fira_sansitalic';
    }
  }

  & .applist{
    /*margin: 240px 100px !important;*/
    position: absolute;
    margin: auto;
    left: 0 !important;
    right: 0;
    top: 320px;
    bottom: -80px;
    /*background: #ccc;*/
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /*border: 2px #989898 solid;*/
    /*margin: 30px 30px;*/
    border: 0px;
    /*@include transition-all();*/
    /*opacity: 0;*/
    overflow: hidden;

    &.appselected{
      background-image: none, url('../images/check.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size:60%;
      /*background-color: #5eabd9 !important;*/
      border: 6px #FFF solid !important;
      /*@include transition-all();*/
    }

    & p{
      color: #FFF;
      font-size: 16px !important;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      /* top: 0; */
      bottom: 25px !important;
      text-align: center;
      font-family: 'fira_sansitalic';
      z-index: 100;
    }
  }
}

#new{
  color: #FFF;
  font-size: 40pt;
  position: absolute;
  left: 70px;
  top: -20px;
  font-family: "fira_sansthin_italic";
}

/*.isSelected{
  transform: scale3d(1.6,1.6,1.6) !important;
  transform-origin: 50% 100%;
  border: 6px #FFF solid;
  z-index: 10;
  -moz-transition: all 300ms ease-in-out;
  -moz-transition-delay: 2s;
}*/


/* -- Fonts -- */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 13, 2015 */



@font-face {
    font-family: 'fira_sansitalic';
    src: url('fonts/firasans-italic-webfont.eot');
    src: url('fonts/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-italic-webfont.woff2') format('woff2'),
         url('fonts/firasans-italic-webfont.woff') format('woff'),
         url('fonts/firasans-italic-webfont.ttf') format('truetype'),
         url('fonts/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair';
    src: url('fonts/firasans-hair-webfont.eot');
    src: url('fonts/firasans-hair-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-hair-webfont.woff2') format('woff2'),
         url('fonts/firasans-hair-webfont.woff') format('woff'),
         url('fonts/firasans-hair-webfont.ttf') format('truetype'),
         url('fonts/firasans-hair-webfont.svg#fira_sanshair') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansmedium_italic';
    src: url('fonts/firasans-mediumitalic-webfont.eot');
    src: url('fonts/firasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/firasans-mediumitalic-webfont.woff') format('woff'),
         url('fonts/firasans-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/firasans-mediumitalic-webfont.svg#fira_sansmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansthin';
    src: url('fonts/firasans-thin-webfont.eot');
    src: url('fonts/firasans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-thin-webfont.woff2') format('woff2'),
         url('fonts/firasans-thin-webfont.woff') format('woff'),
         url('fonts/firasans-thin-webfont.ttf') format('truetype'),
         url('fonts/firasans-thin-webfont.svg#fira_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansthin_italic';
    src: url('fonts/firasans-thinitalic-webfont.eot');
    src: url('fonts/firasans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/firasans-thinitalic-webfont.woff') format('woff'),
         url('fonts/firasans-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/firasans-thinitalic-webfont.svg#fira_sansthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* animations */
/*.selected {
  -moz-transform: translate3d(0,-100px,0) scale3d(1.6,1.6,1.6) !important;
  -moz-transition-duration: 300ms !important;
  -moz-backface-visibility: hidden;
  -moz-perspective: 1000;
  z-index: 10;
  border: 6px #FFF solid;
}

.focus {
  opacity: 1;
  
  -moz-transform: translate3d(0,-100px,0);
  -moz-transition-duration: 800ms;
  -moz-backface-visibility: hidden;
  -moz-perspective: 1000;

  -webkit-transform: translate3d(0,-100px,0);
  -webkit-transition-duration: 800ms;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  transform: translate3d(0,-100px,0);
  transition-duration: 800ms;
  backface-visibility: hidden;
  perspective: 1000;
}*/
